@import './variables.scss';
@import './typography.scss';

@import './reset.scss';
@import './layout/index';
@import './UI/index';
@import './views/index';
@import './animations.scss';


body {
    background-color: hsl(224, 17%, 23%);
}

body:has(.player, .artist-list--show, .panel_release) {
    overflow: hidden;

}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-thumb {
    @include vericalScollBar-thumb;
    // width: 30px;
}

*::-webkit-scrollbar-track {
    // @include vericalScollBar-track;
    background-color: hsl(224, 17%, 23%);
    box-shadow: 0 0 7px hsla(0, 0%, 0%, 0.7) inset;
}