@import '../variables.scss';


[class*="button"] {
    border: none;
    outline: none;
    position: fixed;
    z-index: 200;
    width: 37px;
    height: 37px;
    color: $text-color;
    cursor: pointer;
    font-size: 1.6rem;

    &::before {
        font-family: 'icomoon' !important;
        font-size: 1.8rem;
    }
}

.show-menu__button,
.close-menu__button {
    background: linear-gradient(hsla(204, 99%, 27%, 0.941), hsla(204, 99%, 12%, 0.941));
    top: 10px;
    left: 0;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 0 7px 0px rgba(0, 0, 0, 0.534);

    &::before {
        content: '\e900';
        color: darken($text-color, 15%);
        font-size: 2.4rem;
        text-shadow: 4px 4px 4px #202020a8;
    }
}





.homepage__button {
    background: hsla(223, 35%, 40%, 0.241);
    right: 0;
    border-radius: 5px 0 0 5px;
    box-shadow: -2px 2px 7px 0px rgba(10, 10, 10, 0.534);

    &::before {
        font-size: 2.1rem;
        content: '\e903';
        margin-top: -3px;
    }
}


@media only screen and (min-width: 700px) {
    .show-menu__button {
        display: none;
    }
}