.player {
    position: fixed;
    // opacity: 0;
    z-index: 1002;
    left: 50%;
    margin-top: 3vw;
    transform: translate(-50%, 0);
    box-shadow: 0 0 45px -6px hsl(0, 0%, 4%) inset, 0 0 5px hsl(0, 0%, 3%), 0 2px 2px hsla(0, 0%, 3%, 0.788), 0 5px 4px hsla(0, 0%, 4%, 0.888);
    border-radius: 10px;
    // overflow: hidden;
    background-color: black;
    // position: relative;

    .yt-player {
        >iframe {
            width: 80vw !important;
            height: calc(80vw * 9 / 16);
            max-width: 900px;
            max-height: calc(900px * 9 / 16);
            margin-bottom: -5px;
        }
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    .player {
        margin-top: 5px !important;

    }

}