@import '../variables.scss';
@import '../mixins.scss';

.artist-list {
    min-width: 270px;
    min-height: 100vh;
    margin-left: -270px;
    z-index: 100;
    position: fixed;
    box-shadow: 2px 0 10px 0px hsla(0, 0%, 0%, 0.788);
    background: hsla(223, 35%, 20%, 0.241);

    &--show {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 700px) {
    .artist-list {
        margin-left: 0px;
    }
}

.artist-list__items {
    padding: 0 0 30px 0;
    margin-top: 5px;
    margin-bottom: 30px;
    max-height: 94vh;
    min-width: 270px;
    overflow-y: auto;
    overflow-x: hidden;

    list-style: none;

    >li:last-child {
        // margin-bottom: 45px;
    }

    &::-webkit-scrollbar {
        width: 9px;
    }

    &::-webkit-scrollbar-thumb {
        @include vericalScollBar-thumb;
        width: 30px;
    }

    &::-webkit-scrollbar-track {
        @include vericalScollBar-track;
    }
}

[class*='artist-list__item']:not(.artist-list__items) {
    position: relative;
    padding-block: 1.3rem;

    cursor: pointer;
    font-size: 1.5rem;
    border-bottom: 1px hsla(223, 33%, 26%, 0.541) solid;


    >span {
        padding-left: 20px;
    }
}

.artist-list__item {


    >span {
        transition: all 0.3s ease-out;
    }

    &--active {
        box-shadow: 0 0 1px 1px hsla(16, 95%, 52%, 0.447);

        background: linear-gradient(to right, hsla(19, 83%, 18%, 0.241), hsla(19, 83%, 45%, 0.241));
    }
}

.artist-list__search {
    padding-block: 10px;
    display: flex;
    justify-content: center;
    background: hsla(223, 25%, 10%, 0.241);
    box-shadow: 0 2px 7px -2px hsl(0, 0%, 6%);

    >input {
        background: hsla(223, 25%, 50%, 0.241);
        border: 1px solid hsla(223, 25%, 30%, 0.241);
        height: 30px;
        border-radius: 10px;
        padding-inline: 5px;
        font-size: 1.4rem;
        color: rgba($text-color, 70%);

        &:focus {
            border: 1px solid hsla(223, 75%, 60%, 0.241);
            outline: none;
        }

        &::placeholder {
            color: rgba($text-color, 20%);
        }
    }
}

.icon__clear-search {
    color: $primary;
    margin-left: -25px;
    margin-top: 7px;
    transition: color 0.2s linear;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        color: $secondary;
    }
}

.mark {
    background-color: hsl(207, 100%, 46%);
    border-radius: 7px;
    box-shadow: 0 0 9px hsla(0, 0%, 29%, 0.555) inset, 0 0 4px black;
    padding: 1px;
    color: inherit;
}

.artist-not-found {
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
    color: hsl(0, 0%, 30%);

    >i {
        margin-right: 5px;
        font-size: 2.4rem;
        vertical-align: text-bottom;
        color: hsla(0, 100%, 50%, 0.315);
        text-shadow: 1px 1px 1px hsla(0, 0%, 33%, 0.2);
    }
}

@supports (scrollbar-width: auto) {
    .artist-list__items {
        scrollbar-color: rgba(darken($primary, 30%), 0.5) hsla(216, 37%, 15%, 0.845);
        scrollbar-width: auto;
    }
}