.releases__section {
    margin-top: 20px;

    >.releases--content {
        padding: 20px 0;
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}

@media only screen and (min-width: 700px) {
    .releases__section {
        >.releases--content {
            flex-wrap: wrap;
            overflow-x: auto;
            padding-left: 30px;
        }
    }
}