.youtube__section {
    margin-top: 20px;

    >.youtube--content {
        padding: 20px 0;
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {

            @include vericalScollBar-thumb;
            background: rgba(5, 151, 255, 0.836);
            // width: 30px;
        }
    }
}


@media only screen and (min-width: 700px) {
    .youtube__section {
        >.youtube--content {
            flex-wrap: wrap;
            overflow-x: auto;
            padding-left: 30px;
        }
    }
}